
body {
    display: flex;
    justify-content: center;
}


.result {
    
    width: 100%;
    height: 150px;
    background-color: rgb(135, 135, 143);
    margin: 20px;
    padding: 0;
    margin: 5px 5px 0 0;
    border: 0;
    font-size: 50px;
    text-align: end;
}

.inputRow {
    display: flex;
    
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
}

.output {
    width: 100%;
    height: 150px;
    background-color: rgb(135, 135, 143);
    margin: 20px;
    padding: 0;
    margin: 5px 0 0 5px;
    border: 0;
    font-size: 50px;
    text-align: start;

}
.buttonContainer {
    display: flex;
    align-items: flex-end;
    width: 400px;
    height: 500px;
    background-color: gray;
    margin-left: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: center;
}

.container {
    flex-wrap: wrap;
    background-color: rgb(29, 29, 31);
    height: 800px;
    width: 500px;
    border-radius: 10px;

}

button {
    padding: 0;
    height: 90px;
    width: 98px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: larger;
    
}

button:hover {
    opacity: 70%;
}

button:active {
    opacity: 30%;
}